/node_modules
/public/uploads/interpreters/**/*
/public/uploads/organizations/**/*

!/public/uploads/interpreters/.gitkeep
!/public/uploads/organizations/.gitkeep

/dist/**/*

.env.local
docker-build.ps1
docker-run.ps1