/node_modules
/public/uploads/interpreters/**/*
/public/uploads/organizations/**/*
/public/uploads/session_recordings/**/*

!/public/uploads/interpreters/.gitkeep
!/public/uploads/organizations/.gitkeep
!/public/uploads/session_recordings/.gitkeep

/dist/**/*

.env.local
.env
docker-build.ps1
docker-run.ps1
