<div class="flex flex-row bg-white p-2 border border-neutral-300 mb-2">
    <span class="grow">Intérprete: <%= interpreterName %></span>
    <span class="shrink">
        <a class="btn py-1" href="/script/interpreters_logoff">Sair</a>
    </span>
</div>