<%- include('fragments/logged_customer_bar', { customerName }) %>

<div class="flex flex-row flex-wrap justify-center items-center">
    <a class="panelButton" href="/page/customers/editprofile">Editar perfil</a>
</div>