<%- include('fragments/logged_customer_bar', { customerName, customerMinutes }) %>

<% function generateCustomerList()
{
    let output = '<select name="selDestCustomerId" required>';
    output += '<option disabled selected value="">-- Selecione --</option>';
    for (const cust of allCustomers)
        output += `<option value="${cust.get("id")}" ${cust.get("id") == customerId ? 'disabled' : ''} >${helperFns.escapeHtml(cust.get("name"))} (${helperFns.escapeHtml(cust.get("username"))})</option>`;
    output += '</select>';
    return output;
} 
%>

<div class="frame">
    <form method="post" action="/post/customers_exchangeminutes">
        <%- include('components/ext_label', { props: { label: 'Cliente destinatário', children: generateCustomerList() } }) %>
        <%- include('components/ext_label', { props: { label: 'Minutos a transferir', children: `<input type="number" required step="1" min="1" name="numMinutesToExchange" />` } }) %>

        <div class="text-center">
            <button type="submit" class="btn">Transferir</button>
        </div>
    </form>
</div>