<%- include('fragments/logged_organization_bar', { organizationName }) %>

<div class="flex flex-row flex-wrap justify-center items-center">
    <a class="panelButton" href="/page/organizations/editprofile">Editar perfil</a>
    <a class="panelButton" href="/page/organizations/viewprofile">Ver perfil</a>
</div>