<form method="post" onsubmit="console.log(event);" action="/post/organizations_login" class="w-56 mx-auto">
    <%- include('components/ext_label', { props:
    { 
        label: "Nome de usuário", lineBreak: true, children: `<input type="text" class="w-full" name="orgUsername" />`
    }}) %>
    <%- include('components/ext_label', { props:
    { 
        label: "Senha", lineBreak: true, children: `<input type="password" class="w-full" name="orgPassword" />`
    }}) %>
    <div class="text-center">
        <button type="submit" class="btn">Log-in</button>
    </div>
</form>