<%- include('fragments/logged_organization_bar', { organizationName }) %>

<div class="flex flex-row flex-wrap justify-center items-center">
    <a class="panelButton" href="/page/organizations/editprofile">Editar perfil</a>
    <a class="panelButton" href="/page/organizations/viewprofile">Ver perfil</a>
    <a class="panelButton" href="/page/organizations_mcustomers/home">Gerenciar clientes</a>
    <a class="panelButton" href="/page/organizations/distributeminutes">Distribuir minutos</a>
    <a class="panelButton" href="/page/organizations/seizeminutes">Confiscar minutos</a>
    <a class="panelButton" href="/page/organizations/reportsessions">Relatório de sessões de atendimento</a>
</div>